<a href="https://colab.research.google.com/github/mubarak-pj/advance-python/blob/main/Yet_another_copy_of_Untitled1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
a=int(input("enter the first number:"))
b=int(input("enter the second number:"))
c=int(input("enter the third number:"))
if a>b and a>c:
  print("a is greater")
elif b>a and b>c:
  print("b is greater")
else:
  print("c is greater")

enter the first number:12
enter the second number:54
enter the third number:1
b is greater

In [ ]:
f=int(input("enter the number 100 to 800 :"))
d=f%3
e=f%7
if d==0:
  print(f"the number divisible by 3")
elif e==0:
  print(f"the number is divisible by 7")
else:
  print(f"the number is not divisible by 3 and 7")

enter the number 100 to 800 :120
the number divisible by 3

In [ ]:
# The 'pass' statement is a placeholder.
def future_function():
    pass # We will implement this later

for i in range(5):
    if i == 2:
        pass # Do nothing for 2
    else:
        print(f"Processing {i}")

print("Execution completed with pass statements.")

### Variable Scope in Python

1. **Global Scope**: Variables defined outside any function. They can be accessed from anywhere in the script.
2. **Local Scope**: Variables defined inside a function. They exist only while the function is executing and cannot be accessed from outside.

In [ ]:
# Global variable
x = "global"

def my_function():
    # Local variable
    y = "local"
    print(f"Inside the function: x is {x}")
    print(f"Inside the function: y is {y}")

my_function()

print(f"Outside the function: x is {x}")
# print(y)  # This would cause a NameError because y is local to the function

If you need to modify a global variable from inside a function, you must use the `global` keyword.

In [ ]:
counter = 0

def increment():
    global counter
    counter += 1
    print(f"Counter inside: {counter}")

increment()
increment()
print(f"Final counter value: {counter}")

In [ ]:
f=int(input("enter the number 1 to 1000 :"))
d=f%8
if d==0:
  print(f"the number divisible by 8")
else:
  print(f"the number is not divisible by 8")

enter the number 1 to 1000 :180
the number is not divisible by 8

In [ ]:
for i in range(1, 6):
  print('*' * i)

*
**
***
****
*****

In [ ]:
for i in range(1,15):
  if (i%2==0):
    print(f"the number of {i} even")
  else:
    print(f"the number of {i} odd")

the number of 1 odd
the number of 2 even
the number of 3 odd
the number of 4 even
the number of 5 odd
the number of 6 even
the number of 7 odd
the number of 8 even
the number of 9 odd
the number of 10 even
the number of 11 odd
the number of 12 even
the number of 13 odd
the number of 14 even

In [ ]:
a= int(input("Enter a number: "))
fac = 1
for i in range(1, a+ 1):
    fac = fac * i
print(f"The factorial of {a} is {fac}")

Enter a number: 1
The factorial of 1 is 1

In [ ]:
a = input("Enter a word: ")
if a == a[::-1]:
    print(f"{a} is a palindrome")
else:
    print(f"{a} is not a palindrome")

Enter a word: mom
mom is a palindrome

In [ ]:
#key function_name(parameters):
  #statement
  #reurn expresion

In [ ]:
#position argument
def book_trip(tra,des):
  print(f"booking a {tra} to {des}")

In [ ]:
book_trip("fligth","paris")

booking a fligth to paris

In [ ]:
#defult argument
def book_trip(tra,des="paris"):
  print(f"booking a {tra} to {des}")
book_trip("flight","new york")

booking a flight to new york

In [ ]:
#keyworld
def book_trip(tra,des):
  print(f"booking a {tra} to {des}")
book_trip(tra="fligth",des="paris")

booking a fligth to paris

In [ ]:
def book(tra,*items):
  print(f"booking a {tra} to {items}")
book("pakisthan","hawaii","swimsuit","hat")

booking a pakisthan to ('hawaii', 'swimsuit', 'hat')

In [ ]:
def add(a,b):
  print(a+b)
result=add(5,5)

10

In [ ]:
def add(a,b):
  return a+b
result=add(5,5)

In [ ]:
def add(num):
  print(num+10)
my=add(5)
final=my*2
print(final)

15

TypeError: unsupported operand type(s) for *: 'NoneType' and 'int'

In [ ]:
def add(num):
  return num+10
my=add(5)
final=my*2
print(final)

30

In [ ]:
add=lambda x,y:x+y
print(add(10,28))

38

In [ ]:
def square(x):
  sq=x*x
  return sq
numb=[1,2,3,4,5]
square=map(square,numb)
list(square)

[1, 4, 9, 16, 25]

In [ ]:

num=[1,2,3,4,5]
list(map(lambda x:x*x,num))

[1, 4, 9, 16, 25]

In [ ]:
list_a=[1,2,3]
list_b=[4,5,6]
sum_list=list(map(lambda x,y:x+y,list_a,list_b))
print(sum_list)

[5, 7, 9]

In [ ]:
list_a[1,2,-2,-4,-4,5,6]

In [ ]:
list_a=[1,2,-2,-4,-4,5,6]
posative=list(filter(lambda x:x>0,list_a))
nagative=list(filter(lambda x:x<0,list_a))
print(posative)
print(nagative)

[1, 2, 5, 6]
[-2, -4, -4]